.trebuchet-font {
  font-family: 'Trebuchet MS', sans-serif !important;
  font-weight: normal !important;
  /*
    only for value or size >= 16
  */
}
.default-font {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: normal !important;
  /*
    default font
  */
}
